{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../../static/assets/style.css">
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-xl-8 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3 align-items-center">
                            <div class="card"> </div>
                            <div class="card"> </div>
                            
                            <div class="card"> 
                              <video controls autoplay loop muted>
                                <source src="{% static 'assets/demo1.mp4' %}" type="video/mp4"> 
                              </video>
                            </div>
    
                              <div class="card"> </div>
                              <div class="card"> </div>
                        
                        </div>
                      
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-md-12">
                <div class="card bg-primary-dark dashnum-card dashnum-card-small text-white overflow-hidden">

                    <div class="card-body p-3">
                        <div class="d-flex align-items-center fixed-height">
                          <input type="date" class="input-format">
                          <input type="time" class="input-format">
                        </div>
                    </div>
                </div>
                <div class="card dashnum-card dashnum-card-small overflow-hidden">
                    <span class="round bg-warning small"></span>
                    <span class="round bg-warning big"></span>
                    <div class="card-body p-3">
                        <div class="d-flex align-items-center fixed-height">
                          <input type="date" class="input-format">
                          <input type="time" class="input-format">
                        </div>
                    </div>


                </div>
                <div class="card">
                    <div class="card-body alertBoard" id="alert-board">
                      <div class="row mb-3 align-items-center">
                        <div class="col">
                          <h4>Alert History</h4>
                        </div>
                        <div class="col-auto"> </div>
                      </div>
                      <ul class="list-group list-group-flush" id="alert-list">
                      </ul>
                    </div>
                  </div>
            </div>
    



            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}

{% block extra_js %}
<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/pages/dashboard-default.js' %}"></script>
<!-- <script src="{% static 'assets/js/pages/alert-board.js' %}"></script> -->
<script src="../../static/assets/alert-board.js"></script>
<!-- [Page Specific JS] end -->
{% endblock extra_js %}