{% load static %}
<!-- [ Header Topbar ] start -->
<header class="pc-header">
  <div class="m-header">
    {% if request.user.is_superuser %}
      <a href="{% url 'admin:index' %}" class="b-brand">
    {% else %}
      <a href="/" class="pc-link">
    {% endif %}
      <!-- ========   change your logo hear   ============ -->
      <img src="{% static 'assets/images/htsr-logo.svg' %}" alt="" class="logo logo-lg" />
    </a>
    <!-- ======= Menu collapse Icon ===== -->
    <div class="pc-h-item">
      <a href="#" class="pc-head-link head-link-secondary m-0" id="sidebar-hide">
        <i class="ti ti-menu-2"></i>
      </a>
    </div>
  </div>


 </div>
</header>
<!-- [ Header ] end -->
