.alertBoard {
    height: 660px;
    overflow-y: scroll;
    transition: 0.5s;
}

.alert {
    position: relative;
    height: 90px;
    transition: height 0.5s;
    flex-shrink: 0;
    animation: slide-in 0.5s forwards;
    overflow: hidden;
    background-color: transparent;
}

@keyframes slide-in {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.assult-image {
    position: relative;
    width: 300px;
    height: 200px;
    left: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.fixed-height {
    height: 46px;
}

.input-format {
    margin-left: 30px;
    margin-right: 30px;
}